.App {
  text-align: center;
}

.table-responsive-sm {
  display: inline-block;
  width: 400px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #0355f8;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.fly-separator {
  border-top: solid 2px #979797;
  width: 100px;
  height: 2px;
  bottom: 0;
  z-index: 1;
  display: inline-block;
}
.arrival-info {
  display: inline-block;
}
.departure-info {
  display: inline-block;
}
.air-name {
  margin: auto;
  font-weight: 100;
  color: #000;
  font-size: 30px;
  width: 100%;
  font-family: "Book Antiqua";
  
}
.departure-hour,
.arrival-hour {
  margin: auto;
  font-size: 20px;
  font-family: "Railway";
}
.departure-location,
.arrival-location {
  margin: auto;
  font-size: 30px;
  font-family: "Railway";
}

.departure-date,
.arrival-date {
  margin: auto;
  font-size: 20px;
  font-family: "Railway";
}

.list-group {
  margin: auto;
  width: 65%;
}

.price {
  margin: auto;
  font-size: 25px;
  font-family: "Railway";
}
.available-seats {
  font-size: 25px;
  font-family: "Railway";
}

.air-name{
  color:rgba(0, 0, 0, 0.616);
  font-size: 35px;
  font-family: "Railway";
  align-content: center;
  position:relative;
  margin: 0 auto;
  margin-top: 21px;
  
}

.logo {
  height: 60px;
  width: 60px;
  align-items: center;
  background-color: transparent;
  position: relative;
  left: 50px;
  

}

.list-group-item{
  background-color:rgba(255, 255, 255, 0.753);
  font-size: 19px;
  color: rgba(0, 0, 0, 0.575);
  letter-spacing: 1px;
  border-style:hidden;
  text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.808);

}

.filter-container {
  border-style:groove;
  align-items: center;
  margin: auto;
  width:50px;
}

.filter-container.container{
  border-style:hidden;
  size: 90px;
  height:250px
}
.Navigator{
  background-color: rgba(230, 105, 3, 0);
  background-blend-mode: normal;
  
}
.navbar-light .navbar-nav .nav-link {
  color: rgb(255, 255, 255);
  text-shadow: -1px -1px 0 #000;
}
.slogan{
  text-align: center;
  font-weight: 200;
  font-size: 36px;
  line-height: 54px;
  letter-spacing: 1.4px;
  margin-bottom: 30px;
  color: rgba(17, 17, 17, 0.678);
  margin-bottom: auto;
  margin-top: 2%;
  text-shadow: -1px -1px 0 #000;
  
}

.text-slogan{
  text-align: center;
  font-weight: 50;
  font-size: 36px;
  line-height: 54px;
  letter-spacing: 1.4px;
  margin-bottom: 30px;
  color: rgba(14, 14, 14, 0.39);
  text-shadow: -1px -1px 0 #000;
}

.navbar{
  box-shadow: 0px 0px 15px rgb(0 0 0 / 10%);
  border-radius: 80px;
  min-height: 80px;
  background: #f2f2f552;
}

.navbar-light .navbar-nav .nav-link {
  font-size: 19px;
  color: rgba(0, 0, 0, 0.575);
  font-family: "Railway";
  letter-spacing: 1px;
}

.airgo-logo {
  font-size: 19px;
  color: rgba(0, 0, 0, 0.562);
  font-family: "Railway";
  letter-spacing: 1px;
  
}
.text-box-class{
  text-align: center;
  font-family: "Railway";
  letter-spacing: 2px;
  background: #f2f2f575;
  align-self: center;
  height: 190px;
  width: 900px;
  align-content: center;
  position:relative;
  margin: 0 auto;
  margin-top: 20px;
  
}

.book{
  color: rgba(0, 0, 0, 0.562);
  font-family: "Railway";
  letter-spacing: 2px;
  background-color:tomato;
  border: transparent;
}

.form-label{
  font-family: "Railway";
  letter-spacing: 2px;
  color: rgba(0, 0, 0, 0.562);
  text-shadow: -1px -1px 0 #000;
}


